[submodule "modules/SDL"]
	path = modules/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "modules/imgui"]
	path = modules/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "modules/imgui_sdl"]
	path = modules/imgui_sdl
	url = https://github.com/Tyyppi77/imgui_sdl.git
[submodule "modules/cimgui"]
	path = modules/cimgui
	url = https://github.com/cimgui/cimgui.git
